%p#notice= notice

%h2{ :class=>"MsoNormal", :style=>"text-align: center;", :align=>"center"}
  %em
    %span{ :style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      Добро пожаловать на сайт клуба &laquo;АриАднА&raquo;!!!
%p{:class=>"MsoNormal", :style=>"text-align: justify;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif;"}
      %br
        %span{:style=>"background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Мы искренне надеемся, что информация на данном сайте заинтересует вас, и Вы захотите посетить наши занятия, тренинги и мастер-классы.
          %br
          %span{:style=>"background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
            В клубе &laquo;АриАднА&raquo; каждый сможет найти для себя что-то интересное и с пользой провести время. А наши мастера, тренеры и психологи всегда рады поделиться с Вами интересной информацией.
        %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif;"}
        %span{:style=>"background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      Вы можете посетить общий курс тренингов &laquo;Будь режиссёром своей судьбы&raquo;. 
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      Данная программа поможет Вам найти ответы на давно волнующие Вас вопросы:
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      = "- &nbsp;  мироустройство!!! Законы судьбы;".html_safe
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      = "- &nbsp; как влияют отношения между родителями на дальнейшую судьбу ребенка;".html_safe
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      = "- &nbsp;  почему многие пары не могут зачать ребенка;".html_safe
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      = "- &nbsp; что такое причинно-следственные связи;".html_safe
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      = "- &nbsp; как создать и сохранить гармоничные отношения с противоположным полом;".html_safe
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      = "- &nbsp; правильная постановка и достижение цели;".html_safe
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      = "- &nbsp;причина неуверенности в себе, и почему вы не можете реализоваться в жизни;".html_safe
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      = "- &nbsp;как грамотно распоряжаться деньгами, во всех сферах жизни;".html_safe
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      = "- &nbsp;и т.д.".html_safe
%p{:class=>"MsoNormal", :style=>"text-align: justify;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      &nbsp;&nbsp;&nbsp;&nbsp; В клубе Вы можете посетить различные мастер - классы по рукоделию. Научиться делать своими руками прекрасные сувениры и подарки для любимых, родных, друзей и т.д.
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %em
    %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
      Также у нас можно посетить различные тренинги (по сексологии, риторике, научиться работать со своим биополем, овладеть мастерством перевоплощения в домашних условиях), и воспользоваться услугами массажистов.
%p{:class=>"MsoNormal", :style=>"text-align: center;", :align=>"center"}
  ="&nbsp;".html_safe
%p{:class=>"MsoNormal", :style=>"text-align: justify; text-indent: 35.4pt;"}
  %span{:style=>"font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"}
    %em
      В клубе &laquo;АриАднА&raquo; регулярно проходят занятия по йоге!
%p{:class=>"MsoNormal", :style=>"text-align: justify;"}
  &nbsp;

