%p#notice= notice

%p
  %b Title:
  = @albom.title
%p
  %b When:
  = @albom.when.strftime("%d-%m-%Y %H:%M")

.gallery
  - @albom.pictures.each do |photo| 
    .my_pic
      = link_to image_tag(photo.image(:medium)),
                  photo.image(:full),
                  class: 'fancybox', rel: 'group',  alt: 'Photo' 
.buttons{:style => "clear:left"}
  = link_to 'Изменить', edit_albom_path(@albom),:class => "button"
  = link_to 'К списку', alboms_path,:class => "button"
