%h1 Отзывы

= link_to 'Оставить отзыв', new_comment_path
%br
%br

%table
  %tr
    %th Кто
    %th О чём
    %th Что написал
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.fio
      %td= comment.service_id
      %td= comment.body
      - if user_signed_in?
        %td= link_to 'Удалить', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }
