%h1 Отзывы

= link_to 'Оставить отзыв', new_comment_path
%br
%br

%table
  %tr
    %th 
    %th 
    %th 
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.fio
      - if comment.service_id
        %td
          %i
            Про 
            %b= comment.service.title
      %td
    %tr
      %td{:colspan => 2}
        %div{:style => "padding-left: 30px"}
          = comment.body
      - if user_signed_in?
        %td= link_to 'Удалить', comment, :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => "buttons dsgnmoo"
