%p#notice= notice

%p
  %b Fio:
  = @comment.fio
%p
  %b Service:
  = @comment.service_id
%p
  %b Body:
  = @comment.body

= link_to 'Редактировать', edit_comment_path(@comment), :class => "button"
= link_to 'К списку', comments_path, :class => "button"
