%h1 Мастера

- if user_signed_in?
  = link_to 'Новая запись', new_master_path

.masters
  - @masters.each do |master|
    .master
      .master_img.mar_20
        %a{:href => master_path(master)}
          %img{ :src => master.photo(:thumb)}
      .master_block.mar_20
        .master_fio.mar_20
          = master.fio
        .master_info.mar_20  
          = master.deserts
      - if user_signed_in?
        .buttons
          = link_to 'Изменить', edit_master_path(master), :class => " button dark_grey"
          = link_to 'Удалить', master, :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => "button dsgnmoo"