%p#notice= notice
%p
  %img{:src => @master.photo(:medium)}
%p
  %b 
    Мастер 
    = @master.fio
%p
  %b 
    = @master.deserts

- if user_signed_in?
  = link_to 'Изменить', edit_master_path(@master), :class => "button"
= link_to 'К списку', masters_path, :class => "button"
