%h1 События
= link_to('Создать событие', new_event_path, :class => "button") if current_user

%table
  %tr
    %th
    %th 
    %th 
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td 
        %a{:href => event_path(event)}
          %img{:src => event.photo(:thumb)}
      %td
        %a{:href => event_path(event)}
          = event.name
      %td= event.when.strftime("%d-%m-%Y %H:%M")
      - if user_signed_in?
        %td= link_to 'Редактировать', edit_event_path(event), :class => "button dark_grey"
        %td= link_to 'Удалить', event, :method => :delete, :data => { :confirm => 'Уверены?' }, :class => "button dsgnmoo"
    %tr
      %td{:colspan => 5}= event.description.html_safe

%br
