%p#notice= notice

.event
  .event_img.mar_20
    %img{:src => @event.photo(:medium)}
  .event_block.mar_20
    .event_name.mar_20
      = @event.name
    .event_when.mar_20
      Начало в:
      = @event.when.strftime("%d-%m-%Y %H:%M")
  .event_desc.mar_20 
    %h2{:style => "text-align: center"}
      Афиша
    = @event.description.html_safe

- if user_signed_in?
  = link_to 'Изменить', edit_event_path(@event), :class => "button"
= link_to 'К списку', events_path, :class => "button"
